* {
    margin: 0;
    padding: 0;
  }


  header{
    background-color: black;
    height: 8rem;

   
  }


  .navbar{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

    
    
  }

  .navbar ul {

    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;

    margin-bottom: 5%;


  }
  
  .navbar li {
    margin: 0 1em;
  }

  .navbar ul li{
    justify-content: center;
    display: flex;
    text-align: center;
  }
  
  .navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;

  }

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
